<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://azcosmoslearningdb.documents.azure.com:443/" />
        <add key="accountKey" value="TUOA9VAFxahuAg6W8T5p3UF2Up72Zyr84rbXqqHNnCvJ89RAUS2BDRRfvP7vLulyD2L1syex8WdLzFAdULuOAQ==" />
      </appSettings>
</configuration>
